#network_container, #leagues_container {
	width: 45%;
}

#network_container {
	float: left;
}

#leagues_container {
	float: right;
}

.league_row {
  width: 80%;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.league_amount, .league_name {
  width: 100%;
  text-align: center;
  clear: both;
}

.league_block, .network_row {
  display: inline-block;
  margin: 20px;
}

.league_amount {
  border: 1px solid black;
}

