#network_container, #leagues_container {
	width: 47%;
}

#network_container {
	float: left;
}

#leagues_container {
	float: right;
}

.league_row {
  clear: both;
  margin: auto;
}

.league_amount, .league_name {
  width: 100%;
  text-align: center;
  clear: both;
}

.league_block, .network_row {
  display: inline-block;
}

.league_block { 
  margin-left: 10px;
  margin-right: 10px;
	margin-bottom: 5px;
}

.league_amount {
  border: 1px solid black;
}

#league_row_empty {
	height: 1ex;
}

.network_block {
	text-align: left;
}


/*
* Code generated for Dave
*/ 
div[pay-sports] {
  font-family: Verdana, Geneva, sans-serif;
}

div[pay-sports] h3 {
	margin-bottom: 40px;
}
