div[pay-sports-2] #network_container, #leagues_container {
	width: 47%;
}

div[pay-sports-2] #network_container {
	float: left;
}

div[pay-sports-2] #leagues_container {
	float: right;
}

div[pay-sports-2] .league_row {
  clear: both;
  margin: auto;
}

div[pay-sports-2] .league_amount, .league_name {
  width: 100%;
  text-align: center;
  clear: both;
}

div[pay-sports-2] .league_block, .network_row {
  display: inline-block;
	padding-left: 20px;
}

div[pay-sports-2] .league_block { 
  margin-left: 10px;
  margin-right: 10px;
	margin-bottom: 10px;
	width: 6em;
}

div[pay-sports-2] .league_amount {
  border: 1px solid black;
}

div[pay-sports-2] #league_row_empty {
	height: 1ex;
}

div[pay-sports-2] .network_block {
	text-align: left;
}

div[pay-sports-2] #how_numbers_calculated {
	clear: both;
}

div[pay-sports-2] #how_numbers_calculated a {
	text-decoration: none;
}


/*
* Code generated for Dave
*/ 
div[pay-sports-2] {
  font-family: Verdana, Geneva, sans-serif;
}

div[pay-sports-2] h3 {
	margin-bottom: 40px;
}

div[pay-sports-2] #league_row_total {
	font-weight: bold;
}
